{% extends "base.html" %}

{% block content %}
<h2>Neuen Bahnhof erstellen</h2>
<form method="POST" action="{{ url_for('create_bahnhof') }}">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div>
        {{ form.name.label }} {{ form.name(size=100) }}
    </div>
    <div>
        {{ form.adress.label }} {{ form.adress(size=120) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
