<html>
    <head>
        {% if title %}
            <title>{{ title }} - Streckeninformation</title>
        {% else %}
            <title>Willkommen in der Streckeninformation</title>
        {% endif %}
    </head>
    <body>
        <div>Streckeninformation:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('user', username=current_user.username) }}" Bahnhoefe >Logout</a>
            <a href="{{ url_for('create_bahnhof') }}">Bahnhof</a>

        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
