{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for eintrag in fakeEintraege %}
    <div>
       <p>{{ eintrag.bahnhof.username }} Adresse: <b>{{ eintrag.body}}</b></p>
    </div>
    {% endfor %}
{% endblock %}
