{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for bahnhof in bahnhoefe %}
    <p>
        {{ bahnhof.name }} has adress: <b>{{ bahnhof.adress }}</b>
    </p>
    {% endfor %}
{% endblock %}